.div1{
    color:white;
     background-color: rgb(125, 121, 121);
     padding: 10px;
     width: 89px;
     border-radius: 5px;
     font-weight: bold;

}     

.div2{
    width: 400px;
    margin: auto;
    height: auto;
    background-color: rgb(4, 4, 4);
    padding:  15px;
}
.back{

    
    
    
    background:blue;
    

}
.put{
    width: 350px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
}
.div4{
    color:white;
    background-color: rgb(125, 121, 121);
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    font-weight: bold;
}
@media screen and (max-width:412px){
    .div2{
        width: 250px;
        margin: auto;
        height: auto;
        
        padding:  15px;
    }
    .put{
        width: 200px;
        padding: 10px;
        
        
        margin-top: 20px;
        
    }
    .div4{
        width: 200px;
    }
    .div1{
       width: 55px; 
    }
}
@media screen and (max-width:414px){
    .div2{
        width: 250px;
        margin: auto;
        height: auto;
        
        padding:  15px;
    }
    .put{
        width: 200px;
        padding: 10px;
        
        
        margin-top: 20px;
        
    }
    .div4{
        width: 200px;
    }
    .div1{
       width: 55px; 
    }

}
@media screen and (max-width:280px){

.div2{
    width: 200px;
    margin: auto;
    height: 350px;
    background-color: violet;
    padding:  15px;
    
}
.div1{
    color:white;
     background-color: red;
     padding: 10px;
     width: 40px;
     border-radius: 5px;
     font-weight: bold;

}   
.put{
    width: 180px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
}  

}